<div id="configureEquipment">
    <h2 class="ui purple dividing header">
        <i class="settings icon"></i>
        <div class="content">
            <%= __('Equipment configuration') %>
            <div class="sub header"><%= __('Add equipment to monitor') %></div>
        </div>
    </h2>
    <h3 class="ui dividing header"><%= __('DataCenters') %></h3>

    <h3 class="ui dividing header"><%= __('RackMounts') %></h3>

    <h3 class="ui dividing header"><%= __('Equipment') %></h3>
</div>
